---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Sponsors from '../sections/Sponsors.astro';
import Footer from '../sections/Footer.astro';
import SelectPlayer from '../sections/SelectPlayer.astro';
import Final from '../sections/Final.astro';



---

<Layout title="SóftBol Calama">
	<main>
		<Hero />
		<Final />
		<!-- <SelectPlayer /> -->
		<Sponsors />
		<Footer />
	</main>
</Layout>


