---
const {resultado}=Astro.props;

---


<section class="flex flex-col items-center gap-y-10 md:my-20">
    <h2 class="text-xl md:text-2xl">Resultados del Juego</h2>
    {
        resultado == "pendiente"?
        <span class="text-xl md:text-xl text-red-400">Pendiente</span>
        :

        <span class="text-3xl md:text-5xl text-green">{resultado} </span>
    }
</section>