---

---

<header class="mb-10 border-b-2 border-b-white/20">
  <nav class="flex flex-row justify-evenly font-roboto font-semibold text-lg uppercase">
    <a href="/" class="hover:bg-green/10 px-5 py-5">Inicio</a>
    <a href="/juegos" class="hover:bg-green/10 px-5 py-5">Juegos</a>
    <a href="/equipos" class="hover:bg-green/10 px-5 py-5">Equipos</a>
  </nav>
</header>
