<div class="flex flex-col gap-4 items-center justify-center mb-5 mt-8">
    <span class="text-green">ver juego</span>
    <a
      href="https://www.twitch.tv/camilovaron1205"
      target="_blank"
      class=""
    >
      <img
        src="/img/icons/twitch.svg"
        alt="play icon twitch"
        class="w-16 h-16 hover:scale-110 hover:opacity-75"
      />
    </a>
  </div>