<section class="flex flex-col md:flex-row justify-between items-center border-t-2 border-secondary p-5 gap-4">
  <div>
    <span class="font-sans text-sm">
        © 2024 Desarrollado por <a href="/">@cavb1205</a>
    </span>
  </div>
  
  <div>
    <a href="/" target="_blank" rel="noopener noreferrer">
      <img
        src="/img/instagram-white.svg"
        alt="Logo de la empresa"
        class="w-14 hover:opacity-70 hover:scale-105 transition"
      />
    </a>
  </div>
</section>
